name: CI
on:
  pull_request:
    paths-ignore:
      - '.github/**'
jobs:
  test:
    uses: mitlibraries/.github/.github/workflows/python-uv-shared-test.yml@main
  lint:
    uses: mitlibraries/.github/.github/workflows/python-uv-shared-lint.yml@main
   