name: CI
on:
  pull_request:
    types: [opened, reopened]
    paths-ignore:
      - '.github/**'
jobs:
  test:
    uses: mitlibraries/.github/.github/workflows/python-uv-shared-test.yml@IN-1538-create-github-action-with-uv
  lint:
    uses: mitlibraries/.github/.github/workflows/python-uv-shared-lint.yml@IN-1538-create-github-action-with-uv
   